.back-button {
  background-color: white; /* Make button visible against any game background */
  color: #000;
  border: 2px solid #000;
  padding: 0.6rem 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 1.5rem;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
}

.back-button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.popup-container {
  position: fixed;
  flex-direction: column;
}

.popup {
  background-color: white;
  border: 2px solid #000;
  padding: 1rem;
  border-radius: 1.5rem;
  text-align: center;
}

.popup-title {

}

.popup-content {

}